---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
import FAQ from "@components/FAQ.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@js/utils"
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="Our Team"
  description="Meta description for the page"
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Our Team"
    image={optimizedImage}
  />

  <!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-2196">
    <div class="cs-container">
        <div class="cs-content">
            <h2 class="cs-title">Kids Hurt Too Hawai'i Board of Directors</h2>
            <span class="cs-topper" style="font-size: 2rem;">OFFICERS</span>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" src="/assets/images/Minna-Lehti-mobile.png">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Minna-Lehti.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Minna-Lehti.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Board Chair: Minna-Mari Lehti, CCEP, CHPC</span>
                    <span class="cs-job">Hawaii Dental Services, Chief Operating Officer</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" src="/assets/images/Cheryl-Robello.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Cheryl-Robello.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Cheryl-Robello.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Vice Chair: Cheryl Robello</span>
                    <span class="cs-job">Pet Haven Salon, Owner</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" src="/assets/images/America-Madrid.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/America-Madrid.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/America-Madrid.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Secretary: America Madrid</span>
                    <span class="cs-job">PrimeLending, Senior Loan Originator, NMLS:  1319774</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" src="/assets/images/Adelina-Yim.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Adelina-Yim.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Adelina-Yim.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Treasurer: Adelina Yim</span>
                    <span class="cs-job">Lum Yip Kee Ltd, Accounting Manager</span>
                </div>
            </li>
        </ul>
            <span class="cs-topper" style="font-size: 2rem; margin: 2rem;">DIRECTORS</span>
        </div>
        <ul class="cs-card-group" id="cs-directors">
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                         <source media="(max-width: 600px)" src="/assets/images/Dennis-Kim.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Dennis-Kim.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Dennis-Kim.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Dennis Kim</span>
                    <span class="cs-job">Retired Landscape Architect & Creator of KHTH's Seeds of Love Program</span>
                </div>
            </li>
          </ul>
       
          <!-- ============================================ -->
<!--                  Content                     -->
<!-- ============================================ -->

<section id="content-1450">
    <div class="cs-container">
        <div class="cs-content">
            <p class="cs-text">
                IF YOU ARE INTERESTED IN JOINING THE BOARD OF DIRECTORS, COMPLETE THE VOLUNTEER INTEREST FORM.
            </p>
            <a href="https://kidshurttoo.dm.networkforgood.com/forms/volunteer-training" target="_blank" class="cs-button-solid">Volunteer Form</a>
        </div>
    </div>
</section>

 <!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->
                                
        <section id="meet-team-2196">
    <div class="cs-container" id="cs-staff">
        <div class="cs-content">
            <h2 class="cs-title">Kids Hurt Too Hawai'i Staff</h2>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" src="/assets/images/Walker-Rowsey.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Walker-Rowsey.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Walker-Rowsey.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Walker Rowsey, BS</span>
                    <span class="cs-job">Executive Director</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                       <source media="(max-width: 600px)" src="/assets/images/Cynthia-White.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Cynthia-White.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Cynthia-White.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Cynthia White, M.A.Ed.</span>
                     <span class="cs-job">Co-Founder & Training Director</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                       <source media="(max-width: 600px)" src="/assets/images/Hiro-Ito.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Hiro-Ito.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Hiro-Ito.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Hiro Ito, MSW</span>
                     <span class="cs-job">Co-Founder & Program Director</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" src="/assets/images/Retchel-Oyao.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Retchel-Oyao.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Retchel-Oyao.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Retchel Oyao, MSW</span>
                     <span class="cs-job">Outreach and Evaluation Coordinator</span>
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-image-group">
                    <picture class="cs-picture">
                        <!--Mobile Image-->
                       <source media="(max-width: 600px)" src="/assets/images/Kainoa-Rudolfo.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" src="/assets/images/Kainoa-Rudolfo.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/Kainoa-Rudolfo.jpg" alt="person" width="305" height="320">
                    </picture>
                </div>
                <div class="cs-info">
                    <span class="cs-name">Kainoa Rudolfo, MA</span>
                     <span class="cs-job">Social Media and Digital Outreach Manager</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE ABOUT PAGE */

  /*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #meet-team-2196 {
        padding: var(--sectionPadding);
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

         #cs-directors {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            
            .cs-item {
                max-width: 400px;
                width: 100%;
                margin: 0 auto;
            }

    }

        .cs-content {
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            max-width: (400/16rem);
            margin: 0 auto;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            row-gap: (24/16rem);
        }

        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            flex-direction: column;
            grid-column: span 12;
            gap: (16/16rem);
            position: relative;

            &:hover {
                cursor: pointer;

                .cs-link {
                    opacity: 1;
                    transform: translateY(0);
                }

                .cs-name {
                    color: var(--primary);
                }

                .cs-picture {
                    &:after {
                        opacity: 1;
                    }
                }

                .cs-picture img {
                    transform: scale(1.15);
                }
            }
        }

        .cs-image-group {
            width: 100%;
            /* 280px - 320px */
            height: clamp(20rem, 40vw, 25rem);
            min-height: 400px;
            display: flex;
            justify-content: center;
            position: relative;
        }

        .cs-picture {
            width: 100%;
            height: 100%;
            /* clips img tag from overflowing it on hover */
            overflow: hidden;
            display: block;
            position: relative;

            &:after {
                content: "";
                width: 100%;
                height: 100%;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.72) 14.59%, rgba(0, 0, 0, 0.00) 43.18%);
                opacity: 0;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                transition: opacity 0.3s;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top;
                position: absolute;
                z-index: -1;
                transition: transform 0.6s;
            }
        }

        .cs-link {
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: (8/16rem);
            z-index: 1;
            transition: transform .3s, opacity .3s;
            transform: translateY(1rem);

            &:nth-of-type(2) {
                transition-delay: .1s;
            }
            &:nth-of-type(3) {
                transition-delay: .2s;
            }
            &:nth-of-type(4) {
                transition-delay: .3s;
            }
        }

        .cs-link-icon {
            width: (20/16rem);
            height: auto;
        }

        .cs-info {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (4/16rem);
        }

        .cs-job {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 1.5vw, 1rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
            display: block;
        }

        .cs-name {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: 1.2em;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #meet-team-2196 {
        .cs-card-group {
            max-width: none;
            /* 16px - 20px */
            column-gap: clamp(1rem, 2vw, 1.25rem);
        }

        .cs-item {
            grid-column: span 3;
        }

          #cs-directors {
        justify-content: center;
    }
    }
}

/* Tablet and above - 768px */
@media only screen and (min-width: 48rem) {
    #meet-team-2196 {
        #cs-staff {
            .cs-card-group {
                max-width: none;
                grid-template-columns: repeat(5, 1fr);
                gap: clamp(1rem, 2vw, 1.25rem);
            }

            .cs-item {
                grid-column: span 1;
            }
        }
    }
}
/*-- -------------------------- -->
<---          Content           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #content-1450 {
        padding: var(--sectionPadding);
        
        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-title, .cs-text {
            max-width: 100%;
        }

        .cs-text {
            /* 16px - 20px */
            font-size: clamp(1rem, 2vw, 1.25rem);
            margin: 0 0 (32/16rem) 0;
        }
    }
}                         

</style>
