---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from "@js/utils";
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="Mentoring Groups for Positive Development"
  description="Mentoring brings children together with others in the community, growing their network of support and enlarging their 'ohana."
  preloadedImage = {optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing 
    title="Mentoring Groups for Positive Development"
    image={optimizedImage}
  />

  <section id="page-description">
    <div class="container">
      <h2 class="page-description">Mentoring brings children together with others in the community, growing their network of support and enlarging their ʻohana.</h2>
    </div>
  </section>

  <!-- ============================================ -->
<!--                  Services                    -->
<!-- ============================================ -->

<section id="services-1628">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <h2 class="cs-title">Mentoring Inspires and Elevates Community Connections</h2> 
                <!-- <span class="cs-topper"></span>  -->
            </div>
            <p class="cs-text">
                After enrolling in KHTH services, children are eligible to participate in mentoring group activities.<br><br>
There are four mentoring groups:
            </p>
        </div>                  
        <ul class="cs-card-group">
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture" id="pic-1">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/surf-for-the-soul.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/surf-for-the-soul.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/surf-for-the-soul.jpg" alt="surf for the soul" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Surf for the Soul</h3>
                    <p class="cs-item-text">
                        Children learn to surf big and small waves. The challenges of surfing are mirrored in adaptations to loss and healing of trauma. Sometimes waves are big and difficult, knocking us off balance. Other times waves are small and manageable. Surfing teaches youth to never give up, regardless of the size of the wave. 
                    </p>
                    <!-- <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span> -->
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture" id="pic-2">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/poi-for-the-soul.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/poi-for-the-soul.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/poi-for-the-soul.jpg" alt="poi for the soul" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Poi for the Soul</h3>
                    <p class="cs-item-text">
                        Based on the Hawaiian culture of growing taro to make poi, children learn about reciprocal relationships. Taro is seen as a brother of the Hawaiian people. Hawaiians teach that when you take care of taro, taro takes care of you because it is a perfect food for the body’s health. Reciprocal relationships are the perfect food for the soul.
                    </p>
                    <!-- <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span> -->
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture" id="pic-3">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/seeds-of-love.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/seeds-of-love.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/seeds-of-love.jpg" alt="seeds of love" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Seeds of Love</h3>
                    <p class="cs-item-text">
                        Through outdoor activities such as planting, fishing, and hiking, children learn how to connect with nature in healthy ways. Engaging with nature can be another source of healing for youth coping with grief and trauma. Through nature, children find joy and embrace a positive coping resource that benefits them far beyond childhood.
                    </p>
                    <!-- <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span> -->
                </div>
            </li>
            <li class="cs-item">
                <div class="cs-link">
                    <picture class="cs-picture" id="pic-4">
                        <!--Mobile Image-->
                        <source media="(max-width: 600px)" srcset="/assets/images/community-and-culture.jpg">
                        <!--Tablet and above Image-->
                        <source media="(min-width: 601px)" srcset="/assets/images/community-and-culture.jpg">
                        <img loading="lazy" decoding="async" src="/assets/images/community-and-culture.jpg" alt="room" width="413" height="420">
                    </picture>
                    <h3 class="cs-h3">Community and Culture</h3>
                    <p class="cs-item-text">
                        Children learn the importance of community and culture by recognizing and respecting differences in others who they may rely on for support and guidance. Through cultural activities, children learn diversity and inclusion. Through community-based mentoring, they connect with local resources growing their support network.
                    </p>
                    <!-- <span class="cs-fake-link">
                        Get Started
                        <img class="cs-icon" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/gold-chevron-right.svg" alt="" width="20" height="20" loading="lazy" decoding="async" aria-hidden="true">
                    </span> -->
                </div>
            </li>
        </ul>
        <p class="cs-enroll">To learn more or enroll in services, send an email to <a href="mailto:hiro@kidshurttoo.org" style="font-size: inherit; color: inherit;">hiro@kidshurttoo.org</a> or call our office at <a href="tel:808-545-5683" style="font-size: inherit; color: inherit;">808-545-5683</a>.</p>
    </div>
</section>

  
  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE PROGRAM PAGE */

   #page-description {
    .page-description {
      font-style: italic;
      text-align: center;
    }
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  section {
    padding: 4rem 0;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary);
  }

  /*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #services-1628 {
        padding: var(--sectionPadding);
        background-color: #f7f7f7;
        
        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (550/16em);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }
    
        .cs-title {
            max-width: 20ch;
        }

        .cs-text {
            max-width: (640/16rem);
            position: relative;
            z-index: 1;

            &:after {
                /* divider line */
                content: "";
                width: 100%;
                height: 1px;
                margin-top: (24/16rem);
                background: var(--primary);
                opacity: 1;
                display: block;
                position: relative;
            }
        }

         .cs-enroll {
            font-size: 1.5rem;
            margin-top: 3rem;
        }

        .cs-chevron {
            --chevronColor: var(--primary);

            width: (48/16rem);
            height: auto;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            column-gap: clamp(1rem, 2.5vw, 1.25rem);
            /* 28px - 40px */
            row-gap: clamp(1.75rem, 2.5vw, 2.5rem);
        }
        
        .cs-item {
            list-style: none;
            width: 100%;
            display: flex;
            grid-column: span 12;
            flex-direction: column;
            align-items: flex-start;

            &:hover {
                .cs-picture {
                    img {
                        opacity: .5;
                        transform: scale(1.2);
                    }
                }
            }
        }

        .cs-link {
            text-decoration: none;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .cs-picture {
            width: 100%;
            height: (240/16rem);
            margin-bottom: (24/16rem);
            background-color: #000;
            overflow: hidden;
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: transform .6s, opacity .3s;
            }

            /* Fine-tuning individual image positions */
              &#pic-1 {
                img {
                  object-position: 80% center;
                }
              }

              &#pic-2 {
                img {
                  object-position: 45% center;
                }
              }

              &#pic-3 {
                img {
                  object-position: 40% center;
                }
              }

              &#pic-4 {
                img {
                  object-position: 20% center;
                }
              }
      }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            text-align: left;
            margin: 0 0 (12/16rem) 0;
            color: var(--primary);
        }

        .cs-item-text {
            font-size: (18/16rem);
            line-height: 1.5em;
            text-align: left;
            margin: 0 0 (24/16rem) 0;
            color: var(--bodyTextColor);
        }

        .cs-fake-link {
            font-size: (16/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            margin-top: auto;
            color: var(--secondaryLight);
            display: inline-flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);

            &:hover {
                .cs-icon {
                    transform: translateX(.5rem);
                }
            }
        }

        .cs-icon {
            width: (20/16rem);
            height: auto;
            display: block;
            transition: transform .3s;
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #services-1628 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-content {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        .cs-flex {
            text-align: left;
            width: 40vw;
            max-width: (640/16rem);
            flex: none;
        }

        .cs-title {
            margin: 0;
        }

        .cs-text {
            padding: (12/16rem) 0 (12/16rem) (24/16rem);

            &:after {
                width: 1px;
                height: 100%;
                margin: 0 (24/16rem) 0 0;
                order: -1;
                position: absolute;
                left: 0;
                top: 0;
            }
        }

        .cs-item {
            grid-column: span 6;
        }

        .cs-picture {
            /* 240px - 420px */
            height: clamp(15rem, 33vw, 26.25rem);
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #services-1628 {
        .cs-item {
            grid-column: span 3;
        }
}
}
</style>
