---
import BaseLayout from "src/layouts/BaseLayout.astro";
import CTA from "@components/CTA.astro";
import Landing from "@components/Landing.astro";
// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import {getOptimizedImage} from "@js/utils"
import landingImage from "@assets/images/landing.jpg" // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
const optimizedImage = await getOptimizedImage(landingImage)
---

<BaseLayout
  title="Volunteer"
  description="Join us in creating a healing environment for grieving and traumatized children and youth."
  preloadedImage={optimizedImage}
>
  <!-- ============================================ -->
  <!--                    LANDING                   -->
  <!-- ============================================ -->

  <Landing title="Volunteer" image={optimizedImage} />

   <section id="page-description">
    <div class="container">
      <h2 class="page-description">Join us in creating a healing environment for grieving and traumatized children and youth.</h2>
    </div>
  </section>
  
  <CTA />
</BaseLayout>

<style lang="less">
  /* PAGE-SPECIFIC STYLES FOR THE VOLUNTEER PAGE */

  #page-description {
    .page-description {
      font-style: italic;
      text-align: center;
    }
  }

  .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
  }

  section {
    padding: 4rem 0;
  }

  h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: var(--primary);
  }

  
</style>
